* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

nav {
    display: flex;
    /* justify-content: space-evenly; */
    background-color: rgb(255, 0, 0);
    color: black;
    /* gap: 50px; */

}

.img {
    height: 20px;
    margin-right: 30px;
    margin-left: 50px;
}

.list ul {
    display: flex;
    
    /* color: white; */
    
}

.list ul li {
    list-style-type: none;
    display: flex;
    justify-content: start;
    /* gap:43px; */
    align-items: center;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.List2 ul {
    display: flex;
    /* color: white; */
    justify-content: flex-end;
    
}

.List2 ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
}